<h2 class="text-center m-5">Lista de CLinicas</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let clinica of clinicas$ | async">
            <td>{{clinica.nombre}}</td>

            <td>
                <button class="btn btn-primary me-1" [routerLink]="['editar/', clinica._id]">Editar</button>
                <button class="btn btn-danger" (click)="deleteClinica(clinica._id || '')">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary mt-3" [routerLink]="['nuevo']">Agrerar Nueva Empresa</button>

<br>
<br>
<br>
<button class="btn btn-primary mt-3" [routerLink]="['']">Volver</button>